.hero-image{
    width: 350px;
    height: 400px;
}
html {
    scroll-behavior: smooth;
}
.svg{
    position: relative;
    left: -20px;
    top: 28px;
}
.green{
    width: 500px;
}
.white{
    width: 350px;
    position: relative;
    left: 185px;
}


@media (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .green{
        max-width: 380px;
        max-height: 300px;
    }
    .white{
        position: relative;
        left: 1px;
        width: 380px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .maingrid{
position: relative;
left: 120px;
    }
}

